html {
    font-family: sans-serif;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#number {
    font-size: 80px;
}

.foundSolution {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    background-color: hsl(84, 50%, 85%);
}

input {
    /* takes care of input being wider */
    box-sizing:border-box;
    width: 100%;

    font-size: 40px;
    height: 50px;
    background-color: hsl(0, 0%, 90%);
}

.hiddenSolution {
    user-select: none;
    height: 50px;
    background-color: hsl(0, 0%, 90%);
}
